{% extends 'base.html' %}
{% load static %}

{% block body %}

    <link rel="stylesheet" href="{% static "css/dashboard.css" %}">

    <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
        <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="{% url 'dashboard' %}">GPX console</a>
        <ul class="navbar-nav px-3">
            <li class="nav-item text-nowrap">
                <a class="nav-link" href="{% url 'logout' %}">Sign out</a>
            </li>
        </ul>
    </nav>

    <div class="container-fluid">
        <div class="row">
            <nav class="col-md-2 d-none d-md-block bg-light sidebar">
                <div class="sidebar-sticky">
                    <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                        <span>Dashboard</span>
                    </h6>
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            {% url 'dashboard_power' as dashboard_power_url %}
                            <a class="nav-link {% if request.get_full_path == dashboard_power_url %}active{% endif %}"
                               href="{% url 'dashboard_power' %}">
                                Power
                            </a>
                        </li>
                        <li class="nav-item">
                            {% url 'dashboard_gas' as dashboard_gas_url %}
                            <a class="nav-link {% if request.get_full_path == dashboard_gas_url %}active{% endif %}"
                               href="{% url 'dashboard_gas' %}">
                                Gas
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>

            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                    <h1 class="h1">Dashboard</h1>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <label for="meter-select">Select a meter</label>
                        <select class="custom-select d-block w-100" id="meter-select" required="">
                            {% for meter in meters %}
                                <option value="{{ meter.id }}">{{ meter.id }} ({{ meter.sn_pow }})</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                {% for meter in meters %}
                    <div class="row meter-detail" id="meter-{{ meter.id }}">
                        <div class="col-md-6">
                            <h2>Meter info</h2>
                            <table class="table">
                                <thead>
                                <tr>
                                    <th scope="col">Property</th>
                                    <th scope="col">Current</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <th>Version</th>
                                    <td>{{ meter.version }}</td>
                                </tr>
                                <tr>
                                    <th>Serial Number power</th>
                                    <td>{{ meter.sn_pow }}</td>
                                </tr>
                                <tr>
                                    <th>Serial Number gas</th>
                                    <td>{{ meter.sn_gas }}</td>
                                </tr>
                                <tr>
                                    <th>Energy Consumption 1</th>
                                    <td>{{ meter.cons_1 }}</td>
                                </tr>
                                <tr>
                                    <th>Energy Consumption 2</th>
                                    <td>{{ meter.cons_2 }}</td>
                                </tr>
                                <tr>
                                    <th>Energy Production 1</th>
                                    <td>{{ meter.prod_1 }}</td>
                                </tr>
                                <tr>
                                    <th>Energy Production 2</th>
                                    <td>{{ meter.prod_2 }}</td>
                                </tr>
                                <tr>
                                    <th>Current Tariff</th>
                                    <td>{{ meter.tariff }}</td>
                                </tr>
                                <tr>
                                    <th>Gas</th>
                                    <td>{{ meter.gas }}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-md-6">
                            <h3>Last raw:</h3>
                            <p>
                                {{ meter.last_raw | linebreaksbr }}
                            </p>
                        </div>
                    </div>
                {% endfor %}

                {% block main %}
                {% endblock %}
            </main>
        </div>
    </div>

    <script src="{% static "js/dashboard.js" %}"></script>

{% endblock %}
